 /*IMAGE-SLIDER from https://ebene11.com/imageslider-ohne-javascript  */

 .sliderElements,
 .sliderElements figure,
 .sliderControls {
     margin: 0;
 }
  
 .sliderElements:after { /* clearfix */
     content: ".";
     display: block;
     height: .1px;
     clear: both;
     visibility: hidden;
     font-size: 0;
     overflow: hidden;
 }
  
 .cssSlider {
    position: relative;
    overflow: hidden;
    /* width:500px; */
    max-width: 700px;
    margin:auto;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 900%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}
 
.slide {
    position: relative;
    float: left;
    width: calc(100% / 9 - 1%); /* All sliders including any margins or gaps must be 100% or fit exactly into .sliderElements respectively */
    position: relative;
    margin:0.5%;
    border-radius: 10px;
}
 
 .previous, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50%;
    background: rgba(50,50,50,0.5);
    transform: translateY(-50%); /* to perfectly center the button */
    padding-bottom: 20px; /* to center the font inside the button */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 70px;
    color:white;
    z-index: 10;
 }
 .previous{
    left: 7%;
 }
 .next {
    right: 7%;
 }
 .previous:hover, .next:hover {
    background: rgba(50,50,50,0.9);
 }
 /* Bildunterschrift auf dem Bild positionieren */
 .sliderElements figcaption {
     display: block;
     color: #fff;
     position: absolute;
     left: 0;
     bottom: 1em;
     padding: .4em;
     background: rgba(0,0,0,.5);
 }
  
 /* Bilder responsive */
 .sliderElements img {
     width: 100%;
     height: auto;
     border-radius: 10px;
 }
 
 
